/* NAVBAR */

.navbar-logo {
    margin-right: 20px;
}

.navbar-logo img {
    height: 100px;
}

/* AKHIR NAVBAR */

.carousel-item {
    height: 300px; /* Sesuaikan dengan tinggi gambar Anda */
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
